<!DOCTYPE html>
<html>
<head>
    <title>Prediction</title>
    <style>
        body {
              background-color: linen;
        }

        h1 {
              color: maroon;
              margin-left: 40px;
        }
        
        img {
             border-radius: 8px;
            width: 30%;
            margin: auto;
            display: block;
        }
        
        p {
       text-align : center; }
    </style>
</head>
<body>
    <img src="{{ user_image }}" alt="User Butterfly Image" >
    <p>
        Predicted class : {{predicted_class}}
    </p>
</body>
</html>