<!doctype html>
<head>
	<title>Butterfly type prediction</title>
	<style>
		        body {
              background-color: linen;
        }

		.center{
		text-align: center;
		}
	</style>
</head>
<body>
	<h1 class="center">Butterfly type prediction</h1>
	<p>
		<h3 class="center">Select a file to upload</h2>
	</p>
	<form class="center" method="post" action="/" enctype="multipart/form-data">
   	 <dl>
			<p>
				<input type="file" name="imagefile" autocomplete="off" required>
			</p>
    	</dl>
    	<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>